{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'create_style.css' %}">
</head>
<body>
	<form action="/make_betroom/" method="post" id="form">
		{% csrf_token %}
		Name: <br>
		<input type="text" name="name">
		<br>
		Password:<br>
		<input type="text" name="pw">
		<br>
		Option: <br>
		<input type="text" name="option_1">
		<br>
		Option: <br>
		<input type="text" name="option_2">
		<br>
		<div id = "more"></div>
		<a id = "add">Add</a>
		<a id = "rm">Remove</a>
		<input type="submit" value="Go!" />
	</form>
	<script>
	var id = 3
	$("#add").on("click", function() {
		console.log("function fired");
		var o = $("<p>");
		o.append('Option: <br> <input type="text" name="option_' + id + '"><br>');
		id++;
		$("#more").append(o);
	});

	$("#rm").on("click", function() {
		$("#more p:last-child").remove();
	});
	</script>
</body>
</html>

