{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>SmartBets</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'bets/style.css' %}" />
</head>
<body>
	<div class="header"><div id="title">SmartBets</div></div>
	<div class="splash">
		<p class="desc" align="center">Virtual betting, made easy.</p>
		<div class="link"><a href="/create/">Create Bet Room</a></div>
	</div>
</body>
</html>