
<!DOCTYPE html>
<html>
<head>
	<title>
		{{ bet_room }}
	</title>
</head>
<body>
	{% for b in bets.all %}
		<p>
			{{ b.name }}: {{ b.amount }}
		</p>
	{% endfor %}

	{% if venmo_auth %}
		<form action="/make_bet/" method="post" id="form">
			{% csrf_token %}
			Name: <br>
			<input type="text" name="name">
			<br>
			Choice:<br>
			<select>
			    {% for i in options.all %}
			      	<option name="choice" value="{{ i.pk }}">{{ i.option_name }}</option>
			    {% endfor %}
			</select>
			<br>
			Amount ($): <br>
			<input type="text" name="amount">
			<br>
			<input name="access" type="hidden" value="{{ venmo_auth }}">
			<input name="betroom_id" type="hidden" value="{{ bet_room_id }}">
			<input type="submit" value="Make A Bet" />
		</form>
	{% else %}
		<a href = "https://api.venmo.com/v1/oauth/authorize?client_id=2347&scope=access_profile&redirect_uri=http://127.0.0.1:8000/room/{{ url }}/">Authenticate with Venmo</a>
	{% endif %}
</body>
</html>